<?php

$htmlTitle = "boekhouding";

$adminMail = "boekhouding@example.com";
$adminMailName = "boekhouding";

$controlpanelDisabled = false;
$controlpanelDisabledNotice = "<p>De boekhouding is tijdelijk buiten gebruik voor onderhoud.</p>";

$controlpanelEnableAssetDepreciation = true;
$controlpanelEnableCustomerEmail = false;

$controlpanelUrl = "http://boekhouding.example.com/";

$database_hostname = "localhost";
$database_username = "";
$database_password = "";
$database_name = "boekhouding";

$crypto_key = "asdasdasd123123123";

$taxRate = 0.21;
$defaultCurrencyID = 0;

$customersDirectoryAccountID = 0;
$suppliersDirectoryAccountID = 0;
$revenueDirectoryAccountID = 0;
$expensesDirectoryAccountID = 0;

$bankDirectoryAccountID = 0;
$bankDefaultAccountID = 0;

$assetsDirectoryAccountID = 0;
$fixedAssetValueDirectoryAccountID = 0;
$fixedAssetDepreciationDirectoryAccountID = 0;
$fixedAssetExpenseDirectoryAccountID = 0;

$taxPayableAccountID = 0;
$taxReceivableAccountID = 0;

$componentsEnabled = array();
$componentsEnabled[] = "customers";
$componentsEnabled[] = "accounting";
$componentsEnabled[] = "accounts";
$componentsEnabled[] = "billing";

$invoiceLatexDocumentClass = "demobrief";
$invoiceLatexPackage = "demo-factuur";

$invoiceAccountNumber = "";
$invoiceAccountName = "";
$invoiceSenderEmail = "";
$invoiceSenderName = "";
$invoiceBCCEmail = "";
$invoiceEmailSignature = "";

?>