<?php

$adminMail = "info@nadicia.nl";
$adminMailName = "Valkerij Nadicia";

$controlpanelDisabled = false;
$controlpanelDisabledNotice = "<p>De boekhouding is tijdelijk buiten gebruik voor onderhoud.</p>";

$controlpanelEnableAssetDepreciation = false;

$controlpanelUrl = "http://boekhouding.nadicia.nl/";

$database_hostname = "localhost";
$database_username = "";
$database_password = "";
$database_name = "nadicia-boekhouding";

$crypto_key = "khflabrtbejrhtwkergt,webrt";

$taxRate = 0.21;
$defaultCurrencyID = 0;

$assetsDirectoryAccountID = 0;
$customersDirectoryAccountID = 0;
$suppliersDirectoryAccountID = 0;
$revenueDirectoryAccountID = 0;
$expensesDirectoryAccountID = 0;
$bankDirectoryAccountID = 0;
$fixedAssetValueDirectoryAccountID = 0;
$fixedAssetDepreciationDirectoryAccountID = 0;
$fixedAssetExpenseDirectoryAccountID = 0;

$bankDefaultAccountID = 0;
$taxPayableAccountID = 0;
$taxReceivableAccountID = 0;
$domainsRevenueAccountID = 0;

$componentsEnabled = array();
$componentsEnabled[] = "customers";
$componentsEnabled[] = "accounts";
$componentsEnabled[] = "billing";
$componentsEnabled[] = "ticket";

?>