Source: treva-passwd
Maintainer: Ruud Koolen <r.koolen@treva.nl>
Section: treva
Priority: optional
Standards-Version: 3.9.1.0

Package: treva-passwd
Architecture: all
Depends: php5-cli, libphpdatabase, psmisc
Description: Maintains a user database based on a remote control panel database.
 Maintains a user database based on a remote control panel database.
 Additionally, this package installs a version of passwd and chsh to communicate
 account management tasks to this control panel database.
