#!/usr/bin/make -f

build:
	make
	touch build

binary-treva-mta: build
	mkdir debian/tmp-treva-mta
	mkdir debian/tmp-treva-mta/DEBIAN
	dpkg-gencontrol -Pdebian/tmp-treva-mta -ptreva-mta
	dpkg-deb -b debian/tmp-treva-mta ..
	touch binary-treva-mta

binary-treva-mta-config: build
	mkdir debian/tmp-treva-mta-config
	mkdir debian/tmp-treva-mta-config/DEBIAN
	DESTDIR=debian/tmp-treva-mta-config PREFIX=/usr make install
	dpkg-gencontrol -Pdebian/tmp-treva-mta-config -ptreva-mta-config
	dpkg-deb -b debian/tmp-treva-mta-config ..
	touch binary-treva-mta-config

binary: binary-treva-mta binary-treva-mta-config

binary-arch:

binary-indep: binary

clean:
	rm -f build
	rm -f binary-treva-mta binary-treva-mta-config
	rm -f binary
	rm -f debian/files
	rm -rf debian/tmp-treva-mta debian/tmp-treva-mta-config
	make clean

.PHONY: clean
