<?php

$adminMail = "treva@treva.nl";

$controlpanelDisabled = false;
$controlpanelDisabledNotice = "<p>The Treva control panel is currently disabled for maintenance.</p>";

$database_hostname = "localhost";
$database_username = "";
$database_password = "";
$database_name = "treva-panel";

$crypto_key = "aiulfdsfhkasdfouglasdfasjd,fgksdfj";

$ssh_private_key_file = "~/.ssh/id_rsa";

$componentsEnabled = array();
$componentsEnabled[] = "infrastructure";
$componentsEnabled[] = "customers";
$componentsEnabled[] = "accounts";
$componentsEnabled[] = "billing";
$componentsEnabled[] = "ticket";
$componentsEnabled[] = "domains";
$componentsEnabled[] = "http";
$componentsEnabled[] = "mail";

?>