/* Algemene tags */
body {
	font-family: sans-serif;
	color: black;
	background-color: white;
	font-size: 12pt;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

img {
	border: 0px;
}

th {
	text-align: left;
	padding-right: 1em;
}

/* Login */
table.login {
	margin-left: auto;
	text-align: center;
	margin-right: auto;
}

.tableheader {
	text-align: center;
}

.controlpanel-disabled {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.controlpanel-disabled p {
	
}

/* Forms */
.submitbutton {
	text-align: left;
}

/* Header */
.welcome {
	text-align: center;
	font-size: 2em;
	padding: 0.3em;
	margin-bottom: 0.3em;
	background-color: #c11b17;
	color: white;
}

/* Menu */
.menu {
	width: 300px;
	position: absolute;
}

.menu ul {
	list-style-type: square;
	font-weight: normal;
}

.menu li.selected>a {
	text-decoration: underline;
}

.menu ul {
	list-style-type: none;
	font-style: normal;
	font-weight: bold;
}

.menu ul ul {
	list-style-type: none;
	font-style: normal;
	font-weight: normal;
}

.menu ul.menu-admin {
	font-style: italic;
}

.menu ul.menu-admin li {
	font-style: italic;
}

.menu a:hover {
	color: #347235;
	text-decoration: none;
}

/* Main content */
.main {
	position: absolute;
	left: 300px;
/*	right: 0.45em; /* .operation border + padding */
	min-width: 500px;
	padding-right: 10px;
}

.main-login {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: #c11b17;
	margin-top: 20px;
	margin-bottom: 20px;
}

h2 {
	color: #153e7e;
	font-size: 14pt;
	text-align: center;
	padding: 4px;
	background-color: #cbdfff;
	border: 2px solid #153e7e;
}

h3 {
	color: #153e7e;
	font-size: 11pt;
	text-align: center;
	padding: 4px;
	background-color: #cbdfff;
	border: 2px solid #153e7e;
}

/* Actie blokjes */
.operation {
	border: 2px solid #153e7e;
	background: #ffffff;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	padding: 4px;
	right: 0px;
}

.operation h2 {
	margin: -6px -6px 10px -6px;
}
.operation h3 {
	margin: -6px -6px 10px -6px;
}

.operation .operation {
	margin-left: 15px;
	margin-right: 15px;
}

.operation table {
	width: 100%;
}
.operation table td {
	padding-left: 4px;
	padding-right: 10px;
}
.operation table th {
	white-space: nowrap;
	padding-left: 4px;
	padding-right: 10px;
}
.operation table td.stretch {
	width: 100%;
}
.operation table td input {
	width: 100%;
}

.operation textarea {
	width: 100%;
	height: 150px;
}

.operation .submit input {
	width: 100%;
}
.operation .submit td {
	text-align: center;
	margin: 10px -6px -6px -6px;
	padding: 10px 20px 6px 20px;
}
.operation .selected h2, .operation .selected h3 {
	color: #cbdfff;
	background: #153e7e;
}
.operation p {
	margin: 0px;
	padding: 4px;
}
.operation .list {
	margin-left: 15px;
	margin-right: 15px;
}
.operation th {
	vertical-align: top;
}


/* News */
.news {
	border: 2px solid #153e7e;
	background: #ffffff;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	padding: 4px;
	right: 0px;
}
.news h2 {
	margin: -6px -6px 10px -6px;
}

.news .date {
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
	font-style: italic;
	font-size: 0.9em;
}

/* Messages */
.error {
	border: 3px solid #c11b17;
	background-color: #ffffcd;
	padding: 4px;
}

.confirm {
	border: 3px solid #347235;
	background-color: #e6ffe6;
	padding: 4px;
}

.billing {
	border: 3px solid #c11b17;
	background-color: #ffffcd;
	padding: 4px;
}

.confirm:before {
/* 	content: url(img/apply.png); */
}

.confirmdelete {
	border: 3px solid #c11b17;
	background-color: #ffffcd;
	padding: 4px;
	font-weight: bold;
}

/* Pieces of customer information */
.customer {
	font-style: italic;
}

/* table layout */
.list table {
	margin: 10px 0pt 15px;
	width: 100%;
	text-align: left;
}
.list table, .list th {
	border: 2px solid #153e7e;
	border-spacing: 0px;
	border-collapse: collapse;
}
.list td {
	border-left: 2px solid #153e7e;
	border-spacing: 0px;
	border-collapse: collapse;
}

.list table thead tr th, .list table tfoot tr th {
	background-color: #cbdfff;
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.list table tfoot tr td {
	background-color: #cbdfff;
	padding-left: 4px;
	padding-right: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.list table thead tr .header {
	background-image: url(img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.list table tbody td {
	padding: 4px;
	background-color: #FFFFFF;
	vertical-align: top;
}
.list table tbody tr.even td {
	background-color: #F0F0F6;
}
.list caption {
	color: #153e7e;
	font-size: 14pt;
	text-align: center;
	padding: 4px;
	background-color: #cbdfff;
	border: 2px solid #153e7e;
	margin-bottom: -2px;
	font-weight: bold;
}

.entityalign {
	width: 60%;
}

table.inline {
	margin: 0px;
}
table.inline, table.inline tr, table.inline td, table.inline th {
	border: 0px;
}

/* table sorter layout */
.sortable table thead tr .headerSortUp {
	background-image: url(img/asc.gif);
}
.sortable table thead tr .headerSortDown {
	background-image: url(img/desc.gif);
}
.sortable table thead tr .headerSortDown, .list table thead tr .headerSortUp {
	background-color: #99c0ff;
}

/* jquery.treeTable.collapsible */
.tree table tr td:first-child {
	padding-left: 20px;
}

.tree table tr td .expander {
	background-position: left center;
	background-repeat: no-repeat;
	cursor: pointer;
	padding: 0;
	zoom: 1; /* IE7 Hack */
}

.tree table tr.collapsed td .expander {
	background-image: url(img/toggle-expand-dark.png);
}

.tree table tr.expanded td .expander {
	background-image: url(img/toggle-collapse-dark.png);
}

.breadcrumbs {
	font-size: 9pt;
	color: #808080;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40px;
}

.breadcrumbs a {
	color: black;
	font-style: italic;
}

.nowrap {
	white-space: nowrap;
}

.rightalign {
	float: right;
}

.selectallsubmit > td {
	margin: 0px;
	padding: 0px !important;
}
