<?php

$adminMail = "treva@treva.nl";
$adminMailName = "Treva Technologies";

$controlpanelDisabled = false;
$controlpanelDisabledNotice = "<p>The Treva control panel is currently disabled for maintenance.</p>";

$controlpanelEnableCustomerEmail = false;

$controlpanelUrl = "http://controlpanel.treva.nl/";

$database_hostname = "localhost";
$database_username = "";
$database_password = "";
$database_name = "treva-panel";

$mysql_management_disabled = false;
$mysql_management_username = "";
$mysql_management_password = "";

$crypto_key = "aiulfdsfhkasdfouglasdfasjd,fgksdfj";

$ssh_private_key_file = "~/.ssh/id_rsa";

$taxRate = 0.21;
$defaultCurrencyID = ;

$customersDirectoryAccountID = ;
$suppliersDirectoryAccountID = ;
$revenueDirectoryAccountID = ;
$expensesDirectoryAccountID = ;
$bankDirectoryAccountID = ;

$bankDefaultAccountID = ;
$taxPayableAccountID = ;
$taxReceivableAccountID = ;
$domainsRevenueAccountID = ;

$componentsEnabled = array();
$componentsEnabled[] = "infrastructure";
$componentsEnabled[] = "customers";
$componentsEnabled[] = "accounts";
$componentsEnabled[] = "billing";
$componentsEnabled[] = "ticket";
$componentsEnabled[] = "http";
$componentsEnabled[] = "mail";
$componentsEnabled[] = "domains";
$componentsEnabled[] = "mysql";

?>