Source: treva-exim
Maintainer: Ruud Koolen <r.koolen@treva.nl>
Section: treva
Priority: optional
Standards-Version: 3.9.1.0

Package: treva-exim
Architecture: all
Description: Treva exim configuration generator
Depends: php5-cli, libphpdatabase, treva-infrastructure-common, treva-exim-config, exim4-daemon-heavy

Package: treva-exim-config
Architecture: all
Description: Treva exim configuration, minus the generation scripts.
Depends: treva-infrastructure-common, adduser, spamassassin, clamav-daemon, clamav-freshclam
Provides: exim4-config-2
Conflicts: exim4-config-2, exim4-config
