#!/usr/bin/make -f

build:
	make -f Makefile-treva-exim
	make -f Makefile-treva-exim-config
	touch build

binary-treva-exim: build
	mkdir debian/tmp-treva-exim
	mkdir debian/tmp-treva-exim/DEBIAN
	DESTDIR=debian/tmp-treva-exim PREFIX=/usr make -f Makefile-treva-exim install
	dpkg-gencontrol -Pdebian/tmp-treva-exim -ptreva-exim
	dpkg-deb -b debian/tmp-treva-exim ..
	touch binary-treva-exim

binary-treva-exim-config: build
	mkdir debian/tmp-treva-exim-config
	mkdir debian/tmp-treva-exim-config/DEBIAN
	DESTDIR=debian/tmp-treva-exim-config PREFIX=/usr make -f Makefile-treva-exim-config install
	dpkg-gencontrol -Pdebian/tmp-treva-exim-config -ptreva-exim-config
	cp debian/postinst debian/tmp-treva-exim-config/DEBIAN
	dpkg-deb -b debian/tmp-treva-exim-config ..
	touch binary-treva-exim-config

binary: binary-treva-exim binary-treva-exim-config

binary-arch:

binary-indep: binary

clean:
	rm -f build
	rm -f binary-treva-exim binary-treva-exim-config
	rm -f binary
	rm -f debian/files
	rm -rf debian/tmp-treva-exim debian/tmp-treva-exim-config
	make -f Makefile-treva-exim clean
	make -f Makefile-treva-exim-config clean

.PHONY: clean
